{% extends 'base.html.twig' %}

{% block title %}Produits index{% endblock %}

{% block body %}
    <h1>Nos Créations</h1>
<section class="image"></section>
    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Description</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.nomProduit }}</td>
                <td>{{ produit.descrProduit }}</td>
                <td>{{ produit.prixProduit }} €</td>
                <td><img class="illustr" src="{{ vich_uploader_asset(produit) }}" alt="{{ produit.nomProduit }}"></td>
             
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<section class="image"></section>
{% endblock %}
