{% extends 'base.html.twig' %}

{% block title %}Ateliers index{% endblock %}

{% block body %}
    <h1>Nos ateliers</h1>
<section class="image"></section>
    <table class="table">
        <thead>
            <tr>
                <th>Atelier</th>
                <th>description</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Places disponibles</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
        {% for atelier in ateliers %}
            <tr>
                <td>{{ atelier.nomAtelier }}</td>
                <td>{{ atelier.descrAtelier }}</td>
                <td>{{ atelier.dateAtelier ? atelier.dateAtelier|date('Y-m-d') : '' }}</td>
                <td>{{ atelier.dateFinAtelier ? atelier.dateFinAtelier|date('Y-m-d') : '' }}</td>
                <td>{{ atelier.placesAtelier }}</td>
                <td>{{ atelier.prixAtelier }} €</td>
                <td><img class="illustr" src="{{ vich_uploader_asset(atelier) }}" alt="{{ atelier.nomAtelier }}"></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <section class="image"></section>
{% endblock %}
