{% extends 'base.html.twig' %}

{% block title %}Ateliers index{% endblock %}

{% block body %}
    <h1>Ateliers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomAtelier</th>
                <th>DescrAtelier</th>
                <th>DateAtelier</th>
                <th>DateFinAtelier</th>
                <th>PlacesAtelier</th>
                <th>PrixAtelier</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for atelier in ateliers %}
            <tr>
                <td>{{ atelier.id }}</td>
                <td>{{ atelier.nomAtelier }}</td>
                <td>{{ atelier.descrAtelier }}</td>
                <td>{{ atelier.dateAtelier ? atelier.dateAtelier|date('Y-m-d') : '' }}</td>
                <td>{{ atelier.dateFinAtelier ? atelier.dateFinAtelier|date('Y-m-d') : '' }}</td>
                <td>{{ atelier.placesAtelier }}</td>
                <td>{{ atelier.prixAtelier }}</td>
                <td>
                    <a href="{{ path('app_ateliers_show', {'id': atelier.id}) }}">show</a>
                    <a href="{{ path('app_ateliers_edit', {'id': atelier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ateliers_new') }}">Create new</a>
{% endblock %}
