{% extends 'base.html.twig' %}

{% block title %}Actualité{% endblock %}

{% block body %}
<section class="image"></section>
{% for article in articles %}
    <section class="text">
    <img class="article" src="{{ vich_uploader_asset(article) }}" alt="{{ article.nomArticle }}">
        <h2>{{ article.nomArticle }}</h2>
        <p>{{ article.texteArticle }}</p>
    </section>
    <section class="image"></section>
    
     {% else %}
            
                <p>pas d'article trouvé</p>
            
        {% endfor %}
    {# <h1>Actualité</h1>
    <section class="image"></section>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Article</th>   
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr.bg-warning>
                <td>{{ article.nomArticle }}</td>
                <td>{{ article.texteArticle }}</td>
                <td><img class="illustr" src="{{ vich_uploader_asset(article) }}" alt="{{ article.nomArticle }}"></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">pas d'article trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <section class="image"></section> #}
{% endblock %}
