<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        <link rel="icon" href="{{asset('images/toque.png') }}">
        {% block stylesheets %}
        <link href="{{ asset('css2/style.css') }}" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
        <script src="{{ asset('js2/script.js') }}"></script>
        {% endblock %}
    </head>
    <body>

    {# Navbar et menu dynamique #}
     <nav>
            <div class="parentCircle">
                <ol>
                <li class="circle1" onclick="maRedirection('{{ url('app_accueil') }}')"onmouseenter="changeMenu1()"onmouseleave="changeMenu1()"></li>
                <li class="circle2" onclick="maRedirection('{{ url('app_articles_index') }}')"onmouseenter="changeMenu2()"onmouseleave="changeMenu1()"></li>
                <li class="circle3" onclick="maRedirection('{{ url('app_ateliers_index') }}')"onmouseenter="changeMenu3()"onmouseleave="changeMenu1()"></li>
                <li class="circle4" onclick="maRedirection('{{ url('app_produits_index') }}')"onmouseenter="changeMenu4()"onmouseleave="changeMenu1()"></li>
                <li class="circle5" onclick="maRedirection('{{ url('app_commandes') }}')"onmouseenter="changeMenu5()"onmouseleave="changeMenu1()"></li>
                <li class="circle6" onclick="maRedirection('{{ url('app_contact') }}')"onmouseenter="changeMenu6()"onmouseleave="changeMenu1()"></li>
                </ol>
                {# Permet de revenir à ce texte quand la souris quitte les arcs de cercles #}
                <div class="menu">
                    <p id="descript">Bienvenue que pouvons nous faire pour vous?</p>
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
        <footer>
        <div class="liens">
        <input class="connexion" type="button" value="connexion/admin" onclick="maRedirection('{{ url('admin') }}')"></input>
       <a href="https://www.facebook.com/lamainalapate65270" target="_blank" ><img class="social" src="../../images/facebook.png" alt="réseau social facebook"</a>
       <a href="https://www.instagram.com/la_main_a_la_pate_65270" target="_blank"><img class="social" src="../../images/instagram.png" alt="réseau social instagram"</a>
        
        </div>
        </footer>
    </body>
</html>
